$color-principal: rgb(168, 38, 38);
$color-fondo: rgb(19, 18, 18);
$color-texto: white;
$color-texto-secundario: antiquewhite;
$border-width: 2px;
$padding: 20px;
$border-radius: 8px;
$color-boton: white;
$color-boton-hover: darken($color-principal, 10%);
$padding-vertical: 60px;
$padding-horizontal: 20px;
$max-width-container: 1200px;
$gap-form: 20px;
$padding-form: 20px;