// Spotify
.spotify {
    div {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        z-index: auto;
        align-items: center;
    }
}

// Albumes
.albumes {
    h1 {
        color: red
    }
    p {
        color: $color-texto;
    }
}

