// Spotify
.spotify {
    div {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        z-index: auto;
        align-items: center;
    }
}

// Albumes
.albumes {
    h1 {
        font-size: 50px;
        color: $color-texto-secundario;
    }

    p {
        color: $color-texto;
    }
}