.imggaleria{
    margin: 5px;
    padding: 10px;
    border: $border-width solid;
    z-index: -1;
}
.tamanoimg{
    z-index: -1;
}
.imagenes{
    z-index: 1;
}
.carousel-control-next{
    z-index: 1;
}